body {background-color: grey;
text-align: center;}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-item a{
    color: burlywood;
}

.nav-item.active{
    color: red;
}

.div{
    padding-top: 150px;
    text-align: center;
}

.center{
    padding-top: 250px;
    text-align: center;
    list-style-position: inside;
}

ol.center ul.center dl.center li{
    text-align: left;
    margin-left: 40%;
}
